{% extends 'base.html' %}
{% load static %}

{% block title_name %}
Пароль изменен - UNIREAX
{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="background-elements"></div>
    <div class="container-fluid">
        <div class="row justify-content-center min-vh-100">
            <div class="col-12 col-md-8 col-lg-6 auth-column">
                <div class="auth-container">
                    <h1 class="auth-title">Пароль изменен!</h1>
                    <div class="auth-success-message text-center">
                        <i class="fas fa-check-circle text-success mb-3" style="font-size: 3rem;"></i>
                        <p style="color: white;">Ваш пароль был успешно изменен.</p>
                        <p style="color: white;">Теперь вы можете войти в систему с новым паролем.</p>
                    </div>
                    
                    <div class="auth-links mt-4 d-flex justify-content-center">
                        <a href="{% url 'auth' %}" class="auth-button btn">Войти в аккаунт</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}