<!-- в данном файле находится верстка для подвала (футера) сайта -->
<footer class="footer-container" style="background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="footer-contact">
        <a href="mailto:unireax@mail.ru">unireax@mail.ru</a>
        <p>8-834-321-77-89</p>
        <p>8-875-385-81-54</p>
    </div>
    <div class="footer-agreements">
        <a href="#polzovatelskoe-soglashenie">Пользовательское соглашение</a>
        <a href="/media/documents/politika.pdf" target="_blank">Политика обработки персональных данных</a>
        <a href="#soglasie-na-obrabotku-personalnyh-dannyh">Согласие на обработку персональных данных</a>
    </div>
    <div class="footer-copyright">
        <p>© 2025 Unireax - образовательные курсы и программы. РЭУ им. Г.В. Плеханова. Все права защищены. Копирование материалов с сайта без ссылки на этот ресурс запрещено.</p>
    </div>
</footer>